.calculater {
    padding: 50px;
    margin: 50px;
    display: grid;
    height: 300px;
    width: 200px;
}

.row {
    flex-direction: row;
}

.row>input{
    width: 45px;
    height: 45px;
}

.fixwh{
    width: 90% !important;
}